body {
    background: url('/static/images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Rajdhani", "Ubuntu", sans-serif;
    font-size: 30px;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
} 

body > h4 {
    display: flex;
    width: 25%;
    height: 75px;
    border-radius: 10px;
    border: 3px black;
    border-style: outset;
    align-items:center;
    justify-content:center;
    background-color: #f47e3e;
}

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        opacity: 0.5;
    }

/* 
        
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 3px solid;
    padding: 10px;

    vertical-align: middle; */