{% extends 'base.jinja'%}

{% block content %}

<html>
    <body>
        <div class="new_form">
        <h1>Add a New Destination</h1>
        <h3>Add from existing countries:</h3>
        <form id=indented_form action="/bucketlist/new" method="POST">
            <label for="country_id">Country:</label>
            <select name="country_id" id="country_id" >
                {% for country in countries %}
                    <option {% if country.id == country_id %} selected="selected" {%endif%} value="{{ country.id }}">{{country.country_name}}</option>
                {% endfor %}
            </select> <br>
            <label for="city_name">City:</label>
            <input class="text_box" type="text" name="city_name" id="city_name" /> <br>
            <label for="image_url">Image URL:</label>
            <input class="text_box" type="text" id="image_url" name="image_url"> <br>
            <label for="visited">Destination Visited?</label>
            <input type="checkbox" id="visited" name="visited" /> <br>
            <input id="add_button" type="submit" value="Add Destination">
        </form>
        </div>
<br>
        <div class="new_form">
        <h3>Add new country:</h3>
        <form id=indented_form action="/bucketlist/new/country" method="post">
            <label for="country_name">New Country:</label>
            <input class="text_box" type="text" name="country_name" id="country_name"> <br>
            <input id="add_button" type="submit" value="Add New Country">
        </form>
        </div>

    <br><p><a href="/bucketlist" class="return_home">Return to Bucketlist</a></p>  
    
    </body>
</html>




{% endblock %}

            <select id="dropdown" name="countries">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.country_name }}</option>
                {% endfor %}