{% extends 'base.jinja'%}

{% block content %}
<div class="new_form">
    <h1>Your Destination</h1>
    
    <b>Country:</b> {{ city.country.country_name }} <br>
    <b>City:</b> {{ city.city_name }} <br>

    {% if city.visited %}
        <span><b> Visited? </b> &#9989;</span><br>
    {% else %}
        <span><b>  Visited? </b>&#x274C;</span><br> 
    {% endif %} 
    

<p><a href="/bucketlist/{{ city.id }}/edit"><button>Update the details of this destination</button></a></p>
<form action="/bucketlist/{{ city.id }}/delete" method="post">
    <button type="submit" id="delete_button">Remove destination from bucketlist</button>
</form>


</div>
{% endblock %}

