{% extends 'base.jinja'%}

{% block content %}
<body>
    
    <div class="new_header"> <img class="city_image" src = {{city.image_url}} >
    <h1>Your Destination</h1></div>

    <div class="new_text">
    <b>Country:</b> {{ city.country.country_name }} <br>
    <b>City:</b> {{ city.city_name }}</div>

    <div class="visited">{% if city.visited %}
        <span><b> Visited? </b> &#9989;</span><br>
    {% else %}
        <span><b>  Visited? </b>&#x274C;</span><br>  
    {% endif %} </div>
    

<p><a href="/cities/{{ city.id }}/edit"><button class="edit_button">Update the details of this destination</button></a></p>
<form action="/cities/{{ city.id }}/delete" method="POST">
    <button type="submit" id="delete_button">Remove destination from bucketlist</button>
</form>

<br><p><a href="/cities" class="return_home">Return to Bucketlist</a></p>  

</body>


{% endblock %}

